@import "./../node_modules/foundation/scss/foundation.scss";

body {
	margin: 0px auto;
	width: 720px;
}

.problem {
	@include grid-row;
	width: 100%;
	padding: emCalc(10px) 0;
	margin-bottom: emCalc(5px);
	border: thin solid;
	& > .problem-name   { @include grid-column(6); }
	& > .problem-author { @include grid-column(3); }
	& > .problem-solved { @include grid-column(1); }
	& > .problem-points { @include grid-column(2); }
}

.score {
	@include grid-row;
	width: 100%;
	padding: emCalc(10px) 0;
	& > .score-rank { @include grid-column(1); }
	& > .score-user { @include grid-column(7); }
	& > .score-points { @include grid-column(4); }
}