mixin htmlbase(title)
	doctype
	html(lang='en')
		head
			title= title
			link(rel='stylesheet',type='text/css',href='/css/main.css')
		body
			header
				nav
					ul.title
						li TJCSC
					ul.navigation
						li: a(href='/') Home
						li: a Wiki
						li: a(href='/problems') Problems
						li: a Scores
						li: a About
					ul.user
						if user && typeof user !== 'undefined'
							li: a= user.username
							li: a(href='Logout') Logout
						else
							li: a(href='/login') Log in
							li: a(href='/register') Register
			if block
				block