mixin htmlbase(title)
	doctype
	html(lang='en')
		head
			title= title
			link(rel='stylesheet',type='text/css',href='/css/main.css')
		body
			nav.top-bar
				ul.title-area
					li.name: h1: a(href='/') TJCSC
				section.top-bar-section
					ul.left
						li: a Wiki
						li: a(href='/problems') Problems
						li: a(href='/scores') Scores
						li: a About
					ul.right
						if user && typeof user !== 'undefined'
							li: a= user.username
							li: a(href='Logout') Logout
						else
							li: a(href='/login') Log in
							li: a(href='/register') Register
			if block
				block