mixin htmlbase(title)
	doctype
	html(lang='en')
		head
			title= title
		body
			header
				h1 TJCSC
				nav
					ul.navigation
						li: a Home
						li: a Wiki
						li: a Problems
						li: a Scores
						li: a About
				div.user
					if user && typeof user !== 'undefined'
						a= user.username
						|  | 
						a(href='/logout') Logout
					else
						a(href='/login') Log in
						|  | 
						a(href='/register') Register
			if block
				block